.wipeItem {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    position: relative;
    margin-bottom: 20px;
}

.wipeContent {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.userList {
    list-style: none;
}

.userList li {
    display: inline-block;
}
